<div ng-class="{'worksheet-widget': !widget.isEdit, 'worksheet-widget-edit': widget.isEdit}">
     <h2 ng-if="!widget.isEdit">{{widget.title}}</h2>
     <img class="image-widget" ng-if="!widget.isEdit" ng-src="{{widget.imageSrc}}" />
         <!--show textfield if editing mode is active    -->
    <div ng-if="widget.isEdit">
        <input type="text" ng-model="widget.title" placeholder="Title"></input>
        <input type="text" ng-model="widget.imageSrc" placeholder="Image full url"></input>
    </div>
     <div>
       <!--show buttons depending on the editing mode & non editing mode of the widget-->
       <button ng-if="widget.isEdit" ng-click="saveWidget()">Save Wdiget</button>
       <button ng-if="widget.isEdit" ng-click="cancelWidget()">Cancel</button>
       <button ng-if="!widget.isEdit" ng-click="editWidget()">Edit Wdiget</button>
       <button ng-if="!widget.isEdit" ng-click="deleteWidget()">Remove Wdiget</button>
       <button ng-if="!widget.isEdit" ng-click="moveUp()">Move Up</button>
       <button ng-if="!widget.isEdit" ng-click="moveDown()">Move Down</button>
     </div>
</div>

